*{
    outline: 1px solid black;
}

header{
    font-family: "Roboto";
    background-color: #1F2937;
    color: white;
    
}

h1{
    font-size: 48px;
    font-weight: 900;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
}


.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    
}

.headers{
    display: flex;
    justify-content: space-between;
}

.linkone{
    display: flex;
    justify-content: flex-end;
}

.mix{
    display: flex;
    justify-content: center;
}

/* primera seccion
*/

.pictures{
    border: #3882F6;
    display: flex;
    justify-content: space-around;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

img{
    border: 2px solid #3882F6;
    border-radius: 5px;

    
}

/* quote seccion
*/

.comment{
    background-color: #E5E7EB;

}

.quote{
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre{
    font-weight: 800;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

/* sigh up seccion
*/

.sign-up{
    background-color: #3882F6;
    color: white;
}

.white{
    border: 2px solid white;
}
